.background_diseño {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url('../images/S5000719/S5000719.png');
  background-size: cover;
  padding: 20px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background_ingenieria {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url('../images/Imagen016/Imagen016.png');
  background-size: cover;
  padding: 20px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background_interventoria {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url('../images/Imagen_001/Imagen_001.png');
  background-size: cover;
  padding: 20px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background_proyectos {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url('../images/S5000719/S5000719.png');
  background-size: cover;
  padding: 20px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
