/* Icono */

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?j0wt7a');
  src:  url('../fonts/icomoon.eot?j0wt7a#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?j0wt7a') format('truetype'),
    url('../fonts/icomoon.woff?j0wt7a') format('woff'),
    url('../fonts/icomoon.svg?j0wt7a#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e902";
}
.icon-down:before {
  content: "\e900";
}

/* Header_responsive */
.responsive{
  display: none;
  padding: 5px;
  border-bottom: 1px solid black;
  background: #E9E9E9;
}

.logo_responsive {
  display: none;
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url('../images/header/Logo\ DP.svg');
}

.burger_button {
  width: 40px;
  height: 40px;
  display: none;
  line-height: 40px;
  text-align: center;
  z-index: 6;
  left: 5px;
  top: 5px;
  color: black;
  /* float: right; */
}


/* General */

body {
  font-family: 'Fira Sans', sans-serif;
  margin: 0;
}

.contenedor {
  max-width: 955px;
  margin: auto;
  position: relative;
}

a {
  text-decoration: none;
}

/* Header */

#logotipo {
  z-index: 5;
}

.logotipo {
  margin-top: 0px;
  margin-left: 3%;
  /* display: inline-block; */
  display: flex;
  align-self: flex-start;
  position: fixed;
  z-index: 5;
}

.logotipo_fondo_carmesi {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 168px;
  height: 188px;
  background: #BC3224;
  border-radius: 0px 0px 20px 20px;
  position: relative;
}

.logotipo_fondo_blanco {
  margin: 0px 4px 4px 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 168px;
  height: 192px;
  background: #FFFFFF;
  border-radius: 0px 0px 20px 20px;
  position: absolute;
}

.header {
  display: flex;
  height: 70px;
  width: 100%;
  z-index: 1;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.menu {
  padding-left: 24%;
  height: inherit;
  display: flex;
}

.menu ul {
  display: flex;
  height: inherit;
  margin: 0px;
  padding: 0px;
  list-style: none;
  justify-content: space-around;
}

.menu ul li {
  height: inherit;
  margin: 0px 5%;
}

.menu li a {
  height: inherit;
  display: flex;
  align-items: center;
}

.menu li a { /* las propiedades del texto */
  text-decoration: none;
  color: #2C3136;
  font-size: 14px;
  font-weight: 400;
}

.menu ul li .submenu:hover {
  box-sizing: border-box;
  color: #BC3224;
  border-bottom: 3px solid #BC3224;
}

.datos_contacto {
  display: flex;
  padding-right: 1vw;
}

.datos_contacto ul {
  display: inherit;
}

.datos_contacto li {
  display: inherit;
  margin-left: 1vw;
  align-items: center;
}

.header .contacto {
  display: inherit;
  margin-left: 5px;
  font-size: 12px;
  font-weight: 300;
}

/* Menu desplegable */

.desplegable {
  display: none;
  margin-top: 0px;
  background: linear-gradient(
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    );
    border: 1px solid #707070;
}

.desplegable ul li a {
  margin-top: 1.5px;
  color: #161616;
	text-decoration:none;
	padding:10px 12px;
}

.desplegable ul li a:hover {
  color: #BC3224;
}

.desplegable {
	position:absolute;
	/* min-width:140px; */
  margin: 0px;
  padding: 0px;
}

.menu li:hover > .desplegable {
  display: block;
}

.desplegable ul {
  position:relative;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
  padding-right: 15px;
}

/* Portada */

.background {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url('../images/IMG_0376/IMG_0376.png');
  background-size: cover;
  padding: 20px;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background_diseño {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url('../images/S5000719/S5000719.png');
  background-size: cover;
  padding: 20px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.background_ingenieria {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url('../images/Imagen016/Imagen016.png');
  background-size: cover;
  padding: 20px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.background_interventoria {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url('../images/Imagen_001/Imagen_001.png');
  background-size: cover;
  padding: 20px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.background_proyectos {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url('../images/S5000719/S5000719.png');
  background-size: cover;
  padding: 20px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.background_contacto {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url('../images/contacto/contacto.png');
  background-size: cover;
  padding: 20px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.presentacion {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-weight: 600;
  font-size: 50px;
  color: #FFFFFF;
}

.titulo_portada {
  font-weight: 600;
  font-size: 50px;
  color: #FFFFFF;
  margin-bottom: 0px;
}

.texto_portada {
  color: white;
  max-width: 400px;
}

.contacto_caja {
  display: flex;
  background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    );
  width: 168px;
  height: 40px;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
}

.contacto_enlace {
  color: white;
  font-size: 14px;
  font-weight: 400;
}

/* Sección proyectos */

.proyectos {
  display: flex;
  justify-content: center;
  flex-wrap: flex;
  text-align: center;
}

.parrafo_home {
  margin: 60px auto;
  padding: 0px 10px;
  max-width: 720px;
  position: relative;
  font-size: 14px;
  font-weight: 400;
  color: #2C3136;
  display: flex;
  flex-wrap: wrap;
  text-align: start;
}

.titulo {
  margin-top: 60px;
  margin-bottom: 22.5px;
  text-align: center;
  font-size: 36px;
  font-weight: 400;
  color: #2C3136;
}

.contactos {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.caja_alternativa {
  display: inline-block;
  margin: 16px;
}

.modal {
  /* visibility: hidden;
  opacity: 0; */
  display: none;
}

.modal:target {
  /* visibility: visible;
  opacity: 1;
  transition: all 0.5s; */
  display:block;
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 6;
}

.modal h4 {
  color: #FFFFFF;
  display: flex;
  flex-wrap: flex;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  margin: 5px auto;
}

.modal p {
  color: #FFFFFF;
  font-size: 13px;
  font-weight: 400;
}

.imagen {
  margin-top: 50px;
  /* width: 90vw;
  height: 35vh; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagen a {
  color: #FFFFFF;
  font-size: 40px;
  text-decoration: none;
  margin: 0 10px;
}

.imagen a:nth-child(2) {
  margin: 0;
  height: 100%;
  flex-shrink: 2;
}

.imagen img {
  width: 500px;
  height: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

.cerrar {
  display: block;
  background: #FFFFFF;
  width: 25px;
  height: 25px;
  margin: 10px auto;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  color: #000;
  padding: 5px;
  border-radius: 50%;
  line-height: 25px;
}

.caja_contacto {
  display: inline-block;
  margin: 16px 50px;
}

.contactos_textos {
  display: flex;
  justify-content: baseline;
}

.proyecto_caja {
  width: 260px;
  height: 349.5px;
  padding: 5px 5px 14px 5px;
  display: inline-block;
  margin: 16px;
  background: #E9E9E9;
  text-align: center;
}

.proyecto_titulo {
  display: flex;
  flex-wrap: flex;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  margin: 0px 0px 3em 0px;
}

.proyecto_subtitulo {
  font-size: 11px;
  font-weight: 400;
  margin-bottom: 6px;
}

.proyecto_datos {
  font-size: 13px;
  font-weight: 400;
}

.ver_imagenes {
  font-size: 12px;
  font-weight: 400;
  color: #BC3224;
}

.contenedor_caja {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.ver_proyectos_caja {
  width: 352px;
  height: 40px;
  border-radius: 5px;
  background: #BC3224;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-bottom: 120px; */
}

.ver_proyectos {
  color: white;
  font-size: 14px;
  font-weight: 400;
}

/* Footer */

.footer {
  margin-top: 120px;
  color: #FFFFFF;
  background: #2C3136;
  padding: 50px;
  display: flex;
}

.footer .contenedor {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.col1 {
  font-size: 14px;
  font-weight: 300;
}

.col1 img {
  margin-bottom: 40px;
}

.col1 .a {
  margin: 3px 0px;
}

.linea {
  background: #FFFFFF;
  width: 1px;
  height: 558px;
  margin: 0px 100px;
}

.col2 {
  color: white;
  font-size: 12px;
  font-weight: 500;
  margin: 0px;
}

.col2 p a {
  text-decoration: none;
  color: #FFFFFF;
}

.col2 .a {
  text-indent: 15px;
}

.col2 .a p {
  margin-top: 12px;
  margin-bottom: 5px;
}

.col2 .b {
  text-indent: 30px;
  font-weight: 300;
}

.col2 .b p {
  margin: 5px 0px;
}

/* Media Queries */

@media screen and (max-width: 1024px) {
  .logotipo {
    margin: 0px;
  }
}

@media screen and (max-width: 768px) {
  .datos_contacto {
    display: none;
  }
  body {
    position: relative;
  }
  .responsive{
    display: flex;
    width: 100%;
    justify-content: space-between;
    z-index: 2;
  }
  .logo_responsive {
    display: block;
  }
  .burger_button {
    display: block;
  }
  .logotipo {
    display: none;
  }
  .header {
    /* display: block; */
    position: absolute;
    display: flex;
    height: auto;
    justify-content: center;
    justify-content: space-between;
  }
  .header ul {
    display: block;
  }
  .header ul li {
    height: 50px;
  }
  .header a {
    justify-content: center;
  }
  .menu {
    display: flex;
    padding: 0px;
    margin: 0px;
    width: 100%;
    justify-content: center;
    background-color: rgba(255, 255, 255, 1.0);
    position: absolute;
    top: -151px;
    transition: .3s;
  }
  .menu.is_active {
    top: 50px;
  }
  .menu ul li {
    border-bottom: .5px solid black;
  }
  .menu ul, .menu ul li, .menu ul li a {
    width: 100vw; /* 100% */
    margin: 0px;
  }
  .desplegable ul li a {
    padding: 0px;
  }
  hr {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .background {
    height: 300px;
  }
  h1 {
    font-size: 40px;
  }
  .titulo_portada {
    margin-top: 60px;
    font-size: 30px;
  }
  .texto_portada {
    font-size: 13px;  
  }
  .titulo {
    font-size: 24px;
  }
  .footer .contenedor{
    display: block;
  }
  .col1 {
    text-align: center;
  }
  .linea {
    display: none;
  }

}

@media screen and (max-width: 320px) {
  .ver_proyectos_caja {
    width: 300px;
  }
  .titulo {
    font-size: 20px;
  }
}
