.background_pestañas {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url('../images/S5000719/S5000719.png');
  background-size: cover;
  padding: 20px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Style the tab */
.tab {
  margin-top: 50px;
  overflow: hidden;
  text-align: center;
  border-bottom: 1px solid #707070;
}

.centrar {
  display: inline-block;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
  color: #BC3224;
}

/* Create an active/current tablink class */
.tab button.active {
  font-weight: 500;
  color: #BC3224;
  background-color: #ccc;
  border-bottom: 3px solid #BC3224;
}

/* Style the tab content */
.tabcontent {
  display: none;
  margin: auto;
  position: relative;
}

.tabcontent h2 {
  font-size: 36px;
  font-weight: 400;
  color: #2C3136;
  text-align: center;
}

.tabcontent .texto {
  margin: auto;
  width: 720px;
  position: relative;

  font-size: 14px;
  font-weight: 400;
  color: #2C3136;
}
