.pegado {
  position: -webkit-sticky;
}

/* Style the tab */
.tab {
  margin-top: 50px;
  overflow: hidden;
  text-align: center;
  border-bottom: 1px solid #707070;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: flex;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  color: #BC3224;
}

/* Create an active/current tablink class */
.tab button.active {
  font-weight: bold;
  color: #BC3224;
  border-bottom: 3px solid #BC3224;
}

/* Style the tab content */
.tabcontent {
  display: none;
  margin: auto;
  position: relative;
}

.tabcontent h2 {
  font-size: 36px;
  font-weight: 400;
  color: #2C3136;
  text-align: center;
}

.texto {
  margin: auto;
  margin-bottom: 60px;
  max-width: 720px;
  position: relative;
  font-size: 14px;
  font-weight: 400;
  color: #2C3136;
  display: flex;
  flex-wrap: flex;
}

.parrafo {
  margin: 60px 117.500px;
  max-width: 720px;
  position: relative;
  font-size: 14px;
  font-weight: 400;
  color: #2C3136;
  display: flex;
  flex-wrap: wrap;
}

.linear {
  text-align: center;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.tabcontent .izquierda {
  align: left;
  size: 1px;;
  width: 22%;
  display: inline-block;
  /* display: inherit; */
}

.tabcontent .titulo_pestaña {
  margin: 15px;
  /* margin-top: 60px; */
  margin-bottom: 22.5px;
  text-align: center;
  font-size: 28px;
  font-weight: 300;
  color: #2C3136;
  /* flex-wrap: nowrap; */
  display: inline-block;
  /* display: inherit; */
}

.tabcontent .derecha {
  align: right;
  size: 1px;
  width: 22%;
  display: inline-block;
  /* display: inherit; */
}

.alinear {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

/* boton de desarrollo contacto */

.desarrollo_contacto { /*padre*/
  margin-top: 30px;
  margin-bottom: 120px;
  background: #1C3144;
  height: 5%;
  border: 1px solid #707070;
  color: #FFFFFF;
  padding: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.desarrollo_contacto p { /*hijo*/
  max-width: 500px;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

.desarrollo_contacto .boton { /*hijo*/
  max-width: 150px;
  height: 24px;
  background: #BC3224;
  border-radius: 5px;
  padding: 34px;
  text-decoration: none;
  /* sombra */
}

.desarrollo_contacto .boton .enlace { /*hijo*/
  font-size: 14px;
  font-weight: 400;
  color: #FFFFFF;
}

@media screen and (max-width: 768px) {
  .tabcontent .izquierda {
    display: none;
  }
  .tabcontent .derecha {
    display: none;
  }
  .parrafo {
    margin: 60px 8%;
  }
}

@media screen and (max-width: 480px) {
  .tab {
    flex-direction: column;
  }
}