/* Style the tab */
.tab {
  margin-top: 40px;
  overflow: hidden;
  text-align: center;
  border-bottom: 1px solid #707070;
}

.hijo {
  display: inline-block;
  margin-bottom: 0px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
  color: #BC3224;
  /* border-bottom: 1px solid #707070; */
}

/* Create an active/current tablink class */
.tab button.active {
  font-weight: 500;
  color: #BC3224;
  background-color: #ccc;
  border-bottom: 3px solid #BC3224;
}

/* Style the tab content */
.tabcontent {
  display: none;
  width: 720px;
  margin: auto;
  position: relative;
  /* padding: 6px 12px; */
  /* border: 1px solid #ccc; */
  /* border-top: 1px solid #707070; */
}
